<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>jspd4</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ShowMuaHoaController</servlet-name>
		<servlet-class>controllers.ShowMuaHoaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShowMuaHoaController</servlet-name>
		<url-pattern>/mua-hoa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MuaHoaController</servlet-name>
		<servlet-class>controllers.MuaHoaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MuaHoaController</servlet-name>
		<url-pattern>/xu-ly-mua-hoa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowMuaHoa2Controller</servlet-name>
		<servlet-class>controllers.ShowMuaHoa2Controller</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShowMuaHoa2Controller</servlet-name>
		<url-pattern>/mua-hoa-2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MuaHoa2Controller</servlet-name>
		<servlet-class>controllers.MuaHoa2Controller</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MuaHoa2Controller</servlet-name>
		<url-pattern>/xu-ly-mua-hoa-2</url-pattern>
	</servlet-mapping>
</web-app>